<div class="container">
  <form action="/tweets" method="post">
    <input id='tweet_field' type="text" name="tweet_text" /> <input id='tweet_submit' type="submit" value="Tweet" />
  </form>

  <div class="messages"></div>
</div>
